/*--------------------------------------------------------------
About Page Styling
--------------------------------------------------------------*/
/* Grid Layout */
@supports (grid-area: auto) {
  @media screen and (min-width: 20em) {
    .pa {
      position: relative;
      left: -4em;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 15em calc(100% - 1em);
      grid-template-areas:
        "header header"
        ". main"
        ". sidebar"
        "footer footer";
    }

    .title {
      grid-area: header;
    }

    .main-area {
      grid-area: main;
    }

    .sidebar {
      grid-area: sidebar;
    }

    .page-bottom {
      grid-area: footer;
    }

    .staff-cards {
      margin: 0 auto;
      padding: 1em;
    }

    .card {
      margin: 1em 0;
      padding: 0.5em;
      display: grid;
      grid-template-columns: 8em auto;
    }
  }

  
  @media screen and (min-width: 78em) {
    .pa {
      grid-template-columns: 15em calc(100% - 16em) 15em;
      grid-template-areas:
        "header header header"
        ". main sidebar"
        "footer footer footer";
    }
  }

  @media screen and (min-width: 60em) {
    .staff-cards {
      max-width: none;
      margin: 1em 0;
      display: grid;
      grid-template-columns: repeat(2, 25em);
      grid-gap: 1em;
      justify-content: center;
    }

    .card {
      margin: 0;
    }

    .double {
      grid-row: span 3;
    }

    .double .card {
      display: block;
    }
  }

}
/* General Styling */
body {
	margin: 0;
}

h1,
h2,
h3 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

figure {
	margin: 0;
}


img {
	display: block;
	border: 0;
	width: 100%;
  height: auto;
  object-fit: cover;;
}

.small-card-img{
  height: 100px;
}

/* Header */
.title {
	padding: 0 1em;
	text-align: center;
	border-bottom: 1px solid hsl(0, 0%, 90%);
}

/* Cards */
.staff-cards {
	max-width: 25em;
	margin: 1em auto;
	padding: 0;
	list-style-type: none;

}

.staff-cards a {
	display: block;
	margin-bottom: 1em;
	text-decoration: none;
}

.caption {
	padding: 1em;
	font-size: 90%;
	color: black;
}

.caption-title {
	margin: 0;
	font-size: 1.4em;
	line-height: 1em;
}

.caption p {
	margin-top: .5em;
	margin-bottom: 0;
}

/* Footer */
.page-bottom {
	padding: 2em;
	background: hsl(0, 0%, 10%);
	color: white;
	text-align: center;
}

