/*--------------------------------------------------------------
Homepage Styling
--------------------------------------------------------------*/

.page {
  max-width: 50em;
  margin: 0 auto;
}

/* 
Navigation
 
.nav-bar {
  text-align: center;
  padding: 0 1em;
}

.nav-button{
  display: none;
  padding: .1em .5em;
	border: none;
	transform: rotate(90deg);
}


.nav-bar ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav-bar a {
	display: block;
	padding: .4em 1em;
	color: white;
	text-decoration: none;
}

*/



/* Layout with CSS Grid */
@supports (grid-area: auto) {
  @media screen and (min-width: 60em) {
    /* Two-column layout. Left column has fixed width of 20em: */
    .page {
      display: grid;
      max-width: none;
      grid-template-columns: minmax(auto, 20em) minmax(40em, auto);
      grid-template-areas:
        "logo feature"
        ". main"
        "textbox textbox"
        ". sidebar"
        "footer footer";
    }

    .logoArea {
      grid-area: logo;
    }

    .feature {
      grid-area: feature;
    }

    .main-area {
      grid-area: main;
    }

    .main-area > * {
      grid-area: main;
      display: grid;
      grid-template-columns: minmax(0, auto) minmax(35em, 47em) minmax(0, auto);
    }

    .main-area > * > * {
      grid-column: 2/3;
    }

    .text-boxes {
      grid-area: textbox;
    }

    .sidebar {
      grid-area: sidebar;
    }

    .page-bottom {
      grid-area: footer;
    }

    /*.nav-bar{
      grid-area: nav-bar;
    } */
  } 

  @media screen and (min-width: 80em) {
    /* Three-column layout. Left and right columns have fixed widths of 20em: */
    .page {
      grid-template-columns: minmax(auto, 20em) 1fr minmax(auto, 20em);
      grid-template-areas:
        "logo feature feature"
        "nav-bar main sidebar"
        "textbox textbox sidebar"
        "footer footer footer";
    }
  }
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
body {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  clear: both;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  margin-bottom: 1.5em;
  padding: 1em 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
}

/* Main content section */

.main-text {
  background: #add8e6;
  padding-bottom: 2em;
}

.main-text-content {
  padding: 1.5em;
}

@media screen and (min-width: 600px) {
  .content-text {
    columns: 2;
    column-gap: 2em;
  }

  .content-text p {
    padding-top: 0;
  }
}

/* Content boxes section */

@media screen and (min-width: 700px) {
  /* Uses Flex, create 3 box design to store content*/
  @supports (display: flex) {
    .text-boxes ul {
      display: flex;
      justify-content: space-around;
    }

    .text-boxes li {
      width: 31%;
    }
  }
}

.text-boxes {
  padding: 2em 1em 1em;
  background: #90ee90;
}

.text-boxes ul {
  margin: 0;
  padding: 0;
}

.text-boxes li {
  margin-bottom: 1em;
  background: white;
  list-style-type: none;
}

.text-box {
  padding: 1.5em;
}

.box-img {
  height: 315px;
}

/* Sidebar section */

.sidebar-right {
  padding: 2em;
  background: #2185c5;
  color: white;
}

/* Footer */
.page-bottom {
  padding: 2em;
  background: hsl(0, 0%, 10%);
  color: white;
  text-align: center;
}
